* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    width: 450px;
    height: 80px;

}
body {
    background-color: #B5E2FA;
}

.header {
    background-color: #0FA3B1;
}

.header a {
    text-align: right;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    float: right;
}
.header {
    height: 40px;
}

.timerDisplay {
    margin-left: 300px;
}

.logo {
    height: 50px;
    width: 50px;
}
.logo-title {
    font-size: 18px;
    font-weight: bold;
}
.startButton {
    border-radius: 50px !important; 
    background-color: #87F0B7;
    border: solid 3px #0FB150;
    height: 45px !important;
    width: 100px !important;
}



#stopButton{
    visibility: hidden;
    background-color: #EEC5C5;
    border: solid 3px #E57575;
    height: 45px !important;
    width: 100px !important;

}
#attendantButton {
    visibility: hidden;
    background-color: #E0F6F8;
    border: solid 3px #0FA3B1;
    height: 45px !important;
    width: 100px !important;
}